version: '3.3'

services:
  activemq:
    hostname: activemq
    image: rmohr/activemq
    ports:
      - "8161:8161"
      - "61614:61614" # Websocket Stomp
      - "1883:1883"   # MQTT

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: stomp-demo/frontend
    ports:
      - "8081:5000"
    restart: on-failure
    depends_on:
      - activemq
